/*Font*/

body
{
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: #1e1e2e;
    color: #bebfc5;
}

/*Pruebas*/

section{
    margin: 30px 2em 0 0;
}


/*Nav Bar*/

#main{
    margin-left: 310px;
    padding: 1px 16px;
    height: 100%;
}

#navbar ul {
    list-style-type: none;
    min-width: 300px;
    background-color: #464555;
    color: #fff;
    position: fixed;
    height: 100%;
    overflow: auto; 
}

#nav-title{
    font-size: 1.8em;
    text-align: center;
    padding: 0.5em;
}
  
#nav-link {
    display: block;
    color: #fff;
    padding: 10px 28px;
    text-decoration: none;
    border-top: double 1px #00acbc;
}
  
#nav-link.active {
    background-color: #04AA6D;
    color: white;
}
  
#nav-link:hover:not(.active) {
    background-color: #265f7f;
    color: white;
}

/*Main Code*/

.main-section-title{
    font-size: 1.8em;
}

.main-section article{
    margin: 1em;
    font-size: 0.96em;
}

.main-section article p{
    margin-bottom: 15px;
}

.main-section article li{
    margin: 1em 4em;
}

.main-section article code{
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #27293d;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

#footer{
    width: 100%;
    background-color: #27293d;
    color: #fff;
    text-align: center;
    margin-top: 2em; 
}

#footer a{
    color: #7fe28f;
}

/*Responsive Design*/

@media (max-width: 768px)
{
    
    /*NavBar*/
    
    #navbar ul {
        position: static;
        width: 100%;
        height: 250px;
    }
    
    /*Mainain*/
    
    #main{
        margin-left: 0;
        padding: 0px 10px;
    }
    
    .main-section-title{
        text-align: center;
    }
    
    .main-section article li{
        margin: 1em 2.3em;
    }
    
    .main-section article code{
        margin: 0;
        font-size: 0.7em
    }
}